{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #floatingContainer {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        /* Space between the button and the price */
        z-index: 1000;
    }

    .floating-box {
        background-color: #1e40af;
        /* Tailwind's blue-600 */
        color: white;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        /* Set equal width */
        height: 60px;
        /* Set equal height */
    }

    #reservationButton {
        background-color: #38af1e;
        /* Tailwind's blue-600 */
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 200px;
        /* Set equal width */
        height: 60px;
        /* Set equal height */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #reservationButton:hover {
        background-color: #1d4ed8;
        /* Hover color */
    }

    /* Hide default number input arrows */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        /* Firefox */
    }

    .custom-number-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .increment,
    .decrement {
        cursor: pointer;
        font-size: 1.5rem;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container mx-auto mt-4 mb-32 px-4 md:px-0">
    <h1 class="text-2xl font-semibold mb-4 text-center">Zarezerwuj miejsce na kempingu</h1>
    <form method="post" class="needs-validation max-w-md mx-auto" novalidate id="reservationForm">
        {% csrf_token %}
        {% csrf_token %}

        <!-- Display general form errors (non-field errors) -->
        {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-5" role="alert">
            <strong class="font-bold">Błąd: </strong>
            <span class="block sm:inline">{{ form.non_field_errors }}</span>
        </div>
        {% endif %}

        <!-- User Info -->
        <div class="grid md:grid-cols-2 md:gap-6 mb-5">
            <div class="w-full group">
                <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Imię i
                    Nazwisko</label>
                <input type="text" name="full_name" id="full_name" value="{{ form.full_name.value|default_if_none:'' }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Imię i Nazwisko" required />
                {% if form.full_name.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.full_name.errors }}</p>
                {% endif %}
            </div>

            <div class="w-full group">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Email" required />
                {% if form.email.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.email.errors }}</p>
                {% endif %}
            </div>

            <div class="w-full group">
                <label for="phone_number"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefon</label>
                <input type="tel" name="phone_number" id="phone_number"
                    value="{{ form.phone_number.value|default_if_none:'' }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Telefon" required />
                {% if form.phone_number.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.phone_number.errors }}</p>
                {% endif %}
            </div>
        </div>

        <!-- Dates -->
        <div class="grid md:grid-cols-2 md:gap-6 mb-5">
            <div class="w-full group">
                <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data
                    przyjazdu</label>
                <input type="text" name="start_date" id="start_date"
                    value="{{ form.start_date.value|default_if_none:'' }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 flatpickr"
                    placeholder="Wybierz datę" required />
                {% if form.start_date.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.start_date.errors }}</p>
                {% endif %}
            </div>

            <div class="w-full group">
                <label for="end_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data
                    opuszczenia</label>
                <input type="text" name="end_date" id="end_date" value="{{ form.end_date.value|default_if_none:'' }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 flatpickr"
                    placeholder="Wybierz datę" required />
                {% if form.end_date.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.end_date.errors }}</p>
                {% endif %}
            </div>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 md:gap-6 gap-4 mb-5 justify-center flex flex-col items-center">
            <div class="relative z-0 w-full group">
                <label for="num_adults" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Liczba dorosłych</label>
                <div class="flex items-center justify-center">
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-l-lg">−</button>
                    <input type="number" id="num_adults" name="num_adults" value="{{ form.num_adults.value|default:1 }}" min="1" max="10" class="block w-12 p-2.5 bg-gray-50 border border-gray-300 text-center focus:ring-blue-500 focus:border-blue-500 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-r-lg">+</button>
                </div>
                {% if form.num_adults.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.num_adults.errors }}</p>
                {% endif %}
            </div>
        
            <div class="relative z-0 w-full group">
                <label for="num_children_0_3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Liczba dzieci (0-3)</label>
                <div class="flex items-center justify-center">
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-l-lg">−</button>
                    <input type="number" id="num_children_0_3" name="num_children_0_3" value="{{ form.num_children_0_3.value }}" min="0" max="10" class="block w-12 p-2.5 bg-gray-50 border border-gray-300 text-center focus:ring-blue-500 focus:border-blue-500 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-r-lg">+</button>
                </div>
                {% if form.num_children_0_3.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.num_children_0_3.errors }}</p>
                {% endif %}
            </div>
        
            <div class="relative z-0 w-full group">
                <label for="num_children_4_13" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Liczba dzieci (4-13)</label>
                <div class="flex items-center justify-center">
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-l-lg">−</button>
                    <input type="number" id="num_children_4_13" name="num_children_4_13" value="{{ form.num_children_4_13.value }}" min="0" max="10" class="block w-12 p-2.5 bg-gray-50 border border-gray-300 text-center focus:ring-blue-500 focus:border-blue-500 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-r-lg">+</button>
                </div>
                {% if form.num_children_4_13.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.num_children_4_13.errors }}</p>
                {% endif %}
            </div>
        
            <div class="relative z-0 w-full group">
                <label for="extra_person_count" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dodatkowe osoby</label>
                <div class="flex items-center justify-center">
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-l-lg">−</button>
                    <input type="number" id="extra_person_count" name="extra_person_count" value="{{ form.extra_person_count.value|default:0 }}" min="0" max="10" class="block w-12 p-2.5 bg-gray-50 border border-gray-300 text-center focus:ring-blue-500 focus:border-blue-500 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-r-lg">+</button>
                </div>
                {% if form.extra_person_count.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.extra_person_count.errors }}</p>
                {% endif %}
            </div>
        
            <div class="relative z-0 w-full group">
                <label for="num_animals" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Liczba zwierząt</label>
                <div class="flex items-center justify-center">
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-l-lg">−</button>
                    <input type="number" id="num_animals" name="num_animals" value="{{ form.num_animals.value }}" min="0" max="5" class="block w-12 p-2.5 bg-gray-50 border border-gray-300 text-center focus:ring-blue-500 focus:border-blue-500 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" />
                    <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-900 font-semibold py-2 px-3 rounded-r-lg">+</button>
                </div>
                {% if form.num_animals.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.num_animals.errors }}</p>
                {% endif %}
            </div>
        </div>
        



        <!-- Camping Details -->
        <div class="grid md:grid-cols-2 md:gap-6 mb-5">
            <div class="relative z-0 w-full group">
                {{ form.tent_type|as_crispy_field }}
                {% if form.tent_type.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.tent_type.errors }}</p>
                {% endif %}
            </div>

            <div class="relative z-0 w-full group">
                <label class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <input type="checkbox" id="caravan_required" name="caravan_required"
                        value="{{ form.caravan_required.value }}"
                        class="w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600" />
                    <span class="ml-2">Czy potrzebujesz przyczepy?</span>
                </label>
                {% if form.caravan_required.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.caravan_required.errors }}</p>
                {% endif %}
            </div>
        </div>

        <!-- Extras -->
        <div class="grid md:grid-cols-3 md:gap-6 mb-5">
            <div class="relative z-0 w-full group">
                <label class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <input type="checkbox" id="electricity_for_tent" name="electricity_for_tent"
                        value="{{ form.electricity_for_tent.value }}"
                        class="w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600" />
                    <span class="ml-2">Elektryczność dla namiotu</span>
                </label>
                {% if form.electricity_for_tent.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.electricity_for_tent.errors }}</p>
                {% endif %}
            </div>
            <div class="relative z-0 w-full group">
                <label class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <input type="checkbox" id="electricity_for_caravan" name="electricity_for_caravan"
                        value="{{ form.electricity_for_caravan.value }}"
                        class="w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600" />
                    <span class="ml-2">Elektryczność dla przyczepy</span>
                </label>
                {% if form.electricity_for_caravan.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.electricity_for_caravan.errors }}</p>
                {% endif %}
            </div>
            <div class="relative z-0 w-full group">
                <label class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <input type="checkbox" name="electricity_for_caravan" id="electricity_for_caravan"
                        value="{{ form.electricity_for_caravan.value }}"
                        class="w-4 h-4 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600" />
                    <span class="ml-2">Elektryczność dla przyczepy</span>
                </label>
                {% if form.electricity_for_caravan.errors %}
                <p class="text-red-500 text-xs italic mt-2">{{ form.electricity_for_caravan.errors }}</p>
                {% endif %}
            </div>
        </div>





        <div id="floatingContainer" class="fixed bottom-4 right-4 z-10 flex items-center space-x-4">
            <div class="bg-blue-600 text-white font-semibold text-center py-2 px-4 rounded-lg shadow-lg">
                Cena końcowa: <span id="totalPrice">0</span> PLN
            </div>
            <button id="reservationButton" type="submit"
                class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg">
                Zarezerwuj
            </button>
        </div>
    </form>



</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        // Add event listeners to increment and decrement buttons
        document.querySelectorAll('.increment').forEach(function (button) {
            button.addEventListener('click', function () {
                const input = this.previousElementSibling;
                if (input && input.type === "number") {
                    const value = parseInt(input.value);
                    const max = parseInt(input.max);
                    if (value < max) {
                        input.value = value + 1;
                        input.dispatchEvent(new Event('change'));
                    }
                }
            });
        });


        document.querySelectorAll('.decrement').forEach(function (button) {
            button.addEventListener('click', function () {
                const input = this.nextElementSibling;
                if (input && input.type === "number") {
                    const value = parseInt(input.value);
                    const min = parseInt(input.min);
                    if (value > min) {
                        input.value = value - 1;
                        input.dispatchEvent(new Event('change'));
                    }
                }
            });
        });


        flatpickr(".flatpickr", {
            dateFormat: "Y-m-d",
            minDate: "today"
        });

        // Add JavaScript to handle the increment and decrement buttons
        document.querySelectorAll('.flex.items-center button').forEach(button => {
            button.addEventListener('click', function () {
                const input = button.closest('div').querySelector('input');
                const currentValue = parseInt(input.value) || 0;
                const isIncrement = button.textContent.trim() === '+';
                const newValue = isIncrement ? currentValue + 1 : currentValue - 1;
                if (newValue >= input.min && newValue <= input.max) {
                    input.value = newValue;
                    input.dispatchEvent(new Event('change'));
                }
            });
        });
        const totalPriceEl = document.getElementById('totalPrice');

        const numAdults = document.getElementById('num_adults');
        const numChildren0_3 = document.getElementById('num_children_0_3');
        const numChildren4_13 = document.getElementById('num_children_4_13');
        const caravanRequired = document.getElementById('caravan_required');
        const electricityForTent = document.getElementById('electricity_for_tent');
        const electricityForCaravan = document.getElementById('electricity_for_caravan');
        const extraPersonCount = document.getElementById('extra_person_count');
        const startDateInput = document.getElementById('start_date');
        const endDateInput = document.getElementById('end_date');

        function isValidDate(d) {
            return d instanceof Date && !isNaN(d);
        }

        function calculateDays() {
            const startDateValue = startDateInput?.value ? new Date(startDateInput.value) : null;
            const endDateValue = endDateInput?.value ? new Date(endDateInput.value) : null;

            if (isValidDate(startDateValue) && isValidDate(endDateValue) && endDateValue > startDateValue) {
                // Calculate the number of days between the start and end date
                const diffTime = Math.abs(endDateValue - startDateValue);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); // Convert milliseconds to days
                return diffDays;
            }
            return 1; // Default to 1 day if dates are invalid or not selected
        }

        function calculateTotalPrice() {
            let totalPrice = 0;

            // Hardcode prices
            const pricePerExtraPerson = 22; // Price per extra person


            // Hardcode prices
            const pricePerAdult = 22; // Price per adult
            const pricePerChild0_3 = 0; // Price per child (0-3), free
            const pricePerChild4_13 = 15; // Price per child (4-13)
            const priceForAnimal = 10; // Price for an animal
            const priceFor2PersonTent = 25; // Price for a 2-person tent
            const priceFor3_4PersonTent = 35; // Price for a 3-4 person tent
            const priceFor5_6PersonTent = 45; // Price for a 5-6 person tent
            const priceForCaravan = 45; // Price for a caravan/camper with awning
            const priceForParking = 10; // Price for parking for those who are accommodated

            // Electricity and sanitation prices
            const priceForElectricityTent = 20; // Price for electricity for a tent (2 people)
            const priceForElectricityCaravan = 20; // Price for electricity for a caravan/camper (2 people)
            const pricePerExtraPersonElectricity = 7; // Price per extra person for electricity
            const priceForWasteDisposal = 2; // Price for waste disposal per person

            // Camping site and beach access
            const pricePerAdultBeachAccess = 15; // Price for adult for camping site and beach
            const pricePerChildBeachAccess = 5; // Price for child for camping site and beach



            // Adults
            const numAdultsValue = numAdults ? parseInt(numAdults.value, 10) || 0 : 0;
            totalPrice += numAdultsValue * pricePerAdult;

            // Children 0-3
            const numChildren0_3Value = numChildren0_3 ? parseInt(numChildren0_3.value, 10) || 0 : 0;
            totalPrice += numChildren0_3Value * pricePerChild0_3;

            // Children 4-13
            const numChildren4_13Value = numChildren4_13 ? parseInt(numChildren4_13.value, 10) || 0 : 0;
            totalPrice += numChildren4_13Value * pricePerChild4_13;

            // Extra person
            const extraPersonCountValue = extraPersonCount ? parseInt(extraPersonCount.value, 10) || 0 : 0;
            totalPrice += extraPersonCountValue * pricePerExtraPerson;

            // Caravan
            if (caravanRequired?.checked) {
                totalPrice += priceForCaravan;
            }

            // Electricity for tent
            if (electricityForTent?.checked) {
                totalPrice += priceForElectricityTent;
            }

            // Electricity for caravan
            if (electricityForCaravan?.checked) {
                totalPrice += priceForElectricityCaravan;
            }

            // Get the number of days
            const numDays = calculateDays();

            // Multiply the total price by the number of days
            totalPrice *= numDays;

            // Display the total price
            totalPriceEl.textContent = totalPrice.toFixed(2); // Show 2 decimal places
        }

        // Add event listeners to form inputs (with null check)
        [numAdults, numChildren0_3, numChildren4_13, extraPersonCount, caravanRequired, electricityForTent, electricityForCaravan, startDateInput, endDateInput].forEach(input => {
            if (input) {
                input.addEventListener('change', calculateTotalPrice);
            }
        });

        // Initial calculation on page load
        calculateTotalPrice();


    });


</script>
{% endblock %}